.modalBackground {
  position: fixed;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modalContainer {
  background-color: #000;
  padding: 41%;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  text-align: center;
}
